// Variables 
$primary: #96ceb4;
$secondary: #ffeead;
$danger: #ff6f69;
$alert: #ffcc5c;
$success: #88d8b0;


* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.quiz {

    ////////////
    // Alerts //
    ////////////
    &--alerts {
        @extend .quiz-container;
        min-height: 70px;

        .error {
            color: $secondary;
            background-color: $danger;
            padding: 20px;
            font-size: 1.2em;

            #close {
                float: right;
                cursor: pointer;
            }
        }
    }

    &--container {
        max-width: 600px;
        margin: 20px auto;
    }

    &--username {
        margin-top: 100px;
        h1 {
            font-size: 2em;
            color: $primary;
        }

        input[type="text"] {
            padding-bottom: 5px;
            font-size: 1.5em;
            width: 100%;
            border: none;
            border-bottom: 2px dashed $primary;
            outline: none;

            &:focus {
                border-bottom-color: darken($primary, 20%);
            }
        }

    }

    &--leaderboard {
        border-collapse: collapse;
        width: 100%;

        th {
            text-align: left;
            font-weight: 400;
            font-size: 1.5em;
        }
        tbody tr {
            &:hover {
                background-color: $primary;
                color: $secondary;
            }
            transition: all 0.3 ease;

        }
        td {
            padding: 10px 5px;            
            border-bottom: 1px solid $primary;
        }
        td:first-child {
            width: 90%;
        }
        td:last-child {
            text-align: right;
        }

    }

}

.question {
    border-bottom: 1px solid $secondary;
    margin: 20px 0;

    h1 {
        color: $primary;
        font-size: 3em;
        text-align: center;
    }
}

.quiz-results {
    @extend .question;

    h2 {
        color: $danger;
        font-size: 2em;
        text-align: center;
    }
}

.quiz-leaderboard {
    color: $primary;
    font-size: 2em;
    text-align: center;
}

.choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    // margin: 20px;
}

.choice {
    flex-basis: 50% auto;
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    float: left;
    cursor: pointer;
    display: none;

    + label {
        display: inline-block;
        width: 49%;
        margin: 1% 0;
        padding: 20px 30px;

        background-color: $secondary;
        font-size: 1.2em;
        font-weight: 1000;
        color: $primary;
        cursor: pointer;

        -webkit-transition: background-color 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out;
        transition: background-color 0.3s ease-out;

        &.rightAnswere {
            background-color: $success;
            color: $secondary;
        }

        &:hover {
            background-color: darken($secondary, 10%);
        }
    }

    &:checked + label {
        background-image: none;
        background-color: $alert;


        &.rightAnswere {
            background-color: $success;
            color: $secondary;
        }

        &.wrongAnswere {
            background-color: $danger;
            color: $secondary;
        }
    }
}


/////////////
// Buttons //
/////////////
%btn-navigation {
    color: $secondary;
    outline: none;
    background: {
        color: $primary;
    }

    &:hover {
        background-color: darken($primary, 20%);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $primary;
    }
}

.btn-container {
    height: auto;
}

.btn-container:before {
    clear: both;
}

.btn-container:after {
    clear: both;
}

.btn {
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    font-size: 1em;
    text-align: center;

    cursor: pointer;

    &--next {
        @extend %btn-navigation;
        float: right;

        span {
            font-size: 0.8em;
        }
    }

    &--prev {
        @extend %btn-navigation;
        float: left;
        cursor: not-allowed;
    }

    &--start {
        @extend %btn-navigation;
        width: 100%;
    }

    &--retake {
        color: $secondary;
        outline: none;

        font-size: 1.3em;

        width: 100%;
        padding: 30px;

        background-color: darken($primary, 20%);

        &:hover {
            background-color: darken($primary, 30%);
        }
    }
}






footer {
    text-align: center;
    font-size: 1em;

    a {
        color: $success;
        text-decoration: none;
    }
}