* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.quiz--alerts {
  min-height: 70px; }
  .quiz--alerts .error {
    color: #ffeead;
    background-color: #ff6f69;
    padding: 20px;
    font-size: 1.2em; }
    .quiz--alerts .error #close {
      float: right;
      cursor: pointer; }
.quiz--container {
  max-width: 600px;
  margin: 20px auto; }
.quiz--username {
  margin-top: 100px; }
  .quiz--username h1 {
    font-size: 2em;
    color: #96ceb4; }
  .quiz--username input[type="text"] {
    padding-bottom: 5px;
    font-size: 1.5em;
    width: 100%;
    border: none;
    border-bottom: 2px dashed #96ceb4;
    outline: none; }
    .quiz--username input[type="text"]:focus {
      border-bottom-color: #51ad82; }
.quiz--leaderboard {
  border-collapse: collapse;
  width: 100%; }
  .quiz--leaderboard th {
    text-align: left;
    font-weight: 400;
    font-size: 1.5em; }
  .quiz--leaderboard tbody tr {
    -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease; }
    .quiz--leaderboard tbody tr:hover {
      background-color: #96ceb4;
      color: #ffeead; }
  .quiz--leaderboard td {
    padding: 10px 5px;
    border-bottom: 1px solid #96ceb4; }
  .quiz--leaderboard td:first-child {
    width: 90%; }
  .quiz--leaderboard td:last-child {
    text-align: right; }

.question, .quiz-results {
  border-bottom: 1px solid #ffeead;
  margin: 20px 0; }
  .question h1, .quiz-results h1 {
    color: #96ceb4;
    font-size: 3em;
    text-align: center; }

.quiz-results h2 {
  color: #ff6f69;
  font-size: 2em;
  text-align: center; }

.quiz-leaderboard {
  color: #96ceb4;
  font-size: 2em;
  text-align: center; }

.choices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }

.choice {
  -webkit-flex-basis: 50% auto;
      -ms-flex-preferred-size: 50% auto;
          flex-basis: 50% auto;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
  float: left;
  cursor: pointer;
  display: none; }
  .choice + label {
    display: inline-block;
    width: 49%;
    margin: 1% 0;
    padding: 20px 30px;
    background-color: #ffeead;
    font-size: 1.2em;
    font-weight: 1000;
    color: #96ceb4;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out; }
    .choice + label.rightAnswere {
      background-color: #88d8b0;
      color: #ffeead; }
    .choice + label:hover {
      background-color: #ffe37a; }
  .choice:checked + label {
    background-image: none;
    background-color: #ffcc5c; }
    .choice:checked + label.rightAnswere {
      background-color: #88d8b0;
      color: #ffeead; }
    .choice:checked + label.wrongAnswere {
      background-color: #ff6f69;
      color: #ffeead; }

.btn--next, .btn--prev, .btn--start {
  color: #ffeead;
  outline: none;
  background-color: #96ceb4; }
  .btn--next:hover, .btn--prev:hover, .btn--start:hover {
    background-color: #51ad82; }
  .btn--next:disabled, .btn--prev:disabled, .btn--start:disabled {
    cursor: not-allowed;
    background-color: #96ceb4; }

.btn-container:before {
  clear: both; }

.btn-container:after {
  clear: both; }

.btn {
  padding: 10px 20px;
  border: none;
  margin: 20px 0;
  font-size: 1em;
  text-align: center;
  cursor: pointer; }
  .btn--next {
    float: right; }
    .btn--next span {
      font-size: 0.8em; }
  .btn--prev {
    float: left;
    cursor: not-allowed; }
  .btn--start {
    width: 100%; }
  .btn--retake {
    color: #ffeead;
    outline: none;
    font-size: 1.3em;
    width: 100%;
    padding: 30px;
    background-color: #51ad82; }
    .btn--retake:hover {
      background-color: #418a68; }

footer {
  text-align: center;
  font-size: 1em; }
  footer a {
    color: #88d8b0;
    text-decoration: none; }
